
    $primary-black:#000000;
    $primary-white:#FFFFFF;
    
    $accent-blue:#2900e8;
    $accent-yellow:#FFF480;
    $accent-purple:#A5A1FF;
    $accent-light-blue:#CBE5FF;
    $accent-pink:#FFAED8;

   
    $bg-grey-white:#1B1B1F;
    $bg-grey-purple:#1B1B1F;
    $bg-grey-pink:#1F1A1C;
    $bg-grey-yellow:#1D1C17;


